.footer__link-list {
    margin: 0;  
}

@media (max-width: 715px) {
    .footer__link-list {
        padding-bottom: 32px;
    }

    .footer__link-list:last-of-type {
        padding-bottom: 0;
    }
}