.place__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 29.34px;
    font-weight: 400;
}

.place__paragraph:first-child{
    padding-bottom: 26px;
}

@media (max-width: 768px){
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media (max-width: 600px) {
    .place__paragraph{
        padding-bottom: 25px;
        padding-left: 16px;
        max-width: 288px;
    }

    .place__paragraph:nth-of-type(1n){
        padding-bottom: 0;
        padding-top: 32px;
    }
    .place__paragraph:nth-of-type(2n){
        padding-top: 25px;
        max-width: 280px;
    }
}
