.place__link {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    transition: opacity 1s ease;
}

.place__link:hover{
    opacity: 0.8;
}

@media (max-width: 600px) {
    .place__link{
        padding-left: 16px;
        padding-bottom: 32px;
    }
}