.cover__overlay{
    padding: 245px 312px;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: 100% 100%;
    z-index: 1;
}
.cover__overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__overlay:hover::after {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 1150px) {
    .cover__overlay {
        padding: 195px 232px;
    }
}

@media (max-width: 768px) {
    .cover__overlay {
        padding: 115px 104px;
    }
}

@media (max-width: 320px) {
    .cover__overlay {
        padding: 33px 16px;
    }
}